.wrapper {
  display: flex;
  width: 100%;
}
.topbar{
  height: 100px;
  background: #333;

}


#sidebar {

  height: 100%;
  min-height: 100%;
		background: #333;
		background: yellow;
}

#sidebar.active {
  margin-left: -250px;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}